body{
    color: aquamarine;
    background-color: black;
    font-size: 16px;
    font-family: cursive;
    font-weight: 1.5px;
}
header{
    color: antiquewhite;
    font-family: cursive;
    align-content: center;

}
p{
    font-family: sans-serif;
    color: aquamarine;
    font-size: 12px;
    font-style: italic;
}

.favorites{
    border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}
footer{
    background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px
}
button:active {
  transform: scale(0.95);
}
p::first-line {
  font-weight: bold;
}
.favorites li :hover{
    color: antiquewhite;
    text-decoration: line-through;
}
form{
    color: darkcyan;
    font-family: cursive;
    font-style: italic;
    font-size: 16px;
    text-wrap: wrap;
}
form button{
    color: lightgreen;
    background-color: blueviolet;
    text-decoration: underline;
}
table{
    background-color: lightgreen;
    border-style: dotted;
    border-collapse: separate;
    border: 2px black;

}


